@model API_SGEducativo.Models.Matricula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costeMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costeMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedulaEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedulaEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoGrupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idMatricula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
